@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    
}

:root {
    --degrade:to right, #38bdf8, #6d28d9, #4c1d95;
}

body  {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(var(--degrade));
    color: white;
}

main {
    background-color: #262626;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 5px 6px 7px rgba(0, 0, 0, 0.307);
    
}

#container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

section > h1 {
    padding: 3px;
    font-size: 30px;
    position: relative;
}

section > h1::before {
   position: absolute;
   content: '';
   height: 3px;
   width: 150px;
   background-image: linear-gradient(var(--degrade));
   bottom: 5px;

}

#calculadora{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

div {
    font-size: 15px;
    color: white;
    font-weight: 500;
}

input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #4c1d95;
    color: white;
    padding: 5px;
}

input:focus {
    outline: none;
} 

#resultado {
    text-align: center;
}

#resultado > span {
    font-size: 40px;
}

button {
    background-image: linear-gradient(var(--degrade));
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    font-size: 15px;
    width: 500px;
    padding: 10px;
    margin: 20px 20px -10px 20px;
    cursor: pointer;
}